<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->

  <Section Name="Application">
    <Parameter Name="Name" Value=""/>
    <Parameter Name="UrlTemplate" Value="" />
    <Parameter Name="Sequences" Value="[]" />
    <Parameter Name="UseRandomDelay" Value="False"/>
  </Section>
  <Section Name="Binding">
    <Parameter Name="SenderExchange" Value="" />
    <Parameter Name="SenderRoutingKeys" Value="[]" />
  </Section>
  <Section Name="RmqConnectionSettings">
    <Parameter Name="UserName" Value="" />
    <Parameter Name="Password" Value="" />
    <Parameter Name="HostName" Value="" />
    <Parameter Name="Port" Value="" />
    <Parameter Name="VirtualHost" Value="" />
  </Section>
</Settings>
